doctype html
html

  body

    h1 PrePros Boilerplate
      

    include ./Sub_Comp/docsSection.pug
    
    br
    br

    include ./Sub_Comp/targets.pug
    
    br
    br

    include ./Sub_Comp/syntaxExamples.pug

    br
    br

    include ./Sub_Comp/form.pug



